body {
	/* column-count: 2; */
	line-height: 1.35;
	font-family: "Source Serif Pro", serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Lato", sans-serif;
}

header > h1 {
	font-size: 4em;
	font-weight: 800;
	text-align: center;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 1em 0;
}

pre, code {
	font-family: "Inconsolata", monospace;
	font-weight: 500;
}

code span[style*="font-weight:bold"] {
	font-weight: 800 !important;
}

ul {
	margin: 0.25em 0;
}

li {
	margin-bottom: 0.25em;
}

#toc ul:not(ul ul) {
	padding-right: 1.4em;
}

#toc li a::after {
	content: attr(data-page);
	float: right;
}

#toc li a {
	width: 100%;
	display: block;
	border-bottom: 1px dashed #ccc;
}

#toc li::marker {
	content: "";
}


@media print {
	@page {
		size: Letter portrait;
	}

	body {
		max-width: 100%;
	}

	article,
	section.cover-page {
		break-after: page;
		page-break-after: always;
	}

	header,
	article,
	section.cover-page {
		counter-increment: page;
	}

	section.cover-page > h1:first-child,
	section.cover-page > h2:first-child,
	section.cover-page > h3:first-child {
		width: 100%;
		height: 100vh;
		font-size: 3em;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}

	article::before,
	section.cover-page::before {
		content: counter(page);
		float: right;
	}
}

pre {
	background: none;
}

pre code {
	padding: 0;
	background: none;
	white-space: pre-wrap;
}
